#map {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.octopus {
    display: flex;
}

.flash {
    background-color: black;
    color: white;
}