#map {
    font-family:Monospace;
    display: flex;
    flex-direction: column;
}

#finalMap {
    font-family:Monospace;
    display: flex;
    flex-direction: column;
}

.diffBackground {
    background-color: #e1e1e1;
}

.line {
display: flex;
    flex-direction: row;
}