#cy {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    z-index: 999;
}

#paths {
    height: 100px;
    overflow: scroll;
}

.path:hover {
    background-color: burlywood;
    cursor: pointer;
}